@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; /* Added smooth scrolling behavior */
  overflow-x: hidden;
}

.flex-row {
  background-color: rgb(195, 195, 195);
}

:where(body) {
  --background-color: #ceabff;
  --text-color: #000000;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :where(body) {
    --background-color: hsl(0, 0%, 100%);
    --text-color: #000000;
  }
}

.image1 {
  background-color: #f2f2f2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "montserratthin_italic";
  overflow-x: hidden;
  display: block;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

    .container {
      max-width: 960px;
      margin: 0 auto;
      padding: 20px;
    }

    .indent-px {
      display: flex;
    }

    .indent-px > div {
      flex: 1;
      margin-right: 20px;
    }

    .indent-px:last-child {
      margin-right: 0;
    }

    .indent-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .indent-content h5 {
      margin-top: 0;
    }

    .indent-content li {
      list-style-type: none;
    }

.flex-row {
    display: flex;
    justify-content: flex-start; /* Align items horizontally to the start */
    align-items: center; /* Align items vertically */
    padding: 20px;
  }
  
  .image-container {
    margin-right: 10px;
    height: auto;
    width: auto;
  }
  
  
  .image-container img {
  width: 200px; /* Set desired width */
  height: auto; /* Maintain aspect ratio */
}

  .buttons {
    display: flex;
    flex-direction: row; /* Arrange buttons vertically */
    padding: 20px;
  }

  .nav-link {   
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 25px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    color: #ff0000;
    text-decoration: underline;
  }

  .slideshow-container {
    width: 100%; /* Adjust the width as needed */
    padding: 1000px;
  }
  
  /* Styles for the image slideshow */
  .image-slideshow {
    max-width: 100%; /* Ensure it doesn't overflow its container */
    overflow: hidden;

    border: 2px solid #000000; /* Black border */
    margin-bottom: 50px;
  }
  
  /* Styles for the individual slideshow images */
  .image {
    
    display: none; /* Hide images by default */
    width: 100%; /* Make images fill the container horizontally */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid black; /* Add a black border around the images */
  }
  
  /* Additional styling for fading effect or other transitions */
  .fade {
    animation: fade 1s ease-out;
  }
  
  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }
  

  

h1 {
  font-size: inherit;
  transition: transform 0.3s;
  /*text-shadow: 2px 0 transparent, -2px 0 rgb(255, 255, 255), 0 2px #9e9ef2, 0 -2px #ffffff,
             1px 1px #cab4ff, -1px -1px #ddd6ff, 1px -1px #d1c5ff, -1px 1px #bdbffa;
    */

  text-transform: capitalize;
  color: black;
  font-weight: 100;
  font-size: 80px;
}

h3 {
  font-size: 40px;

  transition: transform 0.3s;

  margin-top: 100px;
  font-weight: 100;
  font-size: 80px;
  text-align: center;
  align-self: center;
}
h3:hover {
  transform: scale(1.05);
}

p {
  font-size: inherit;
  transition: 0.3s;
  /*text-shadow: 2px 0 transparent, -2px 0 rgb(255, 255, 255), 0 2px #9e9ef2, 0 -2px #ffffff,
             1px 1px #cab4ff, -1px -1px #ddd6ff, 1px -1px #d1c5ff, -1px 1px #bdbffa;
    */
  font-weight: 100;
}

.welcome-text {
  transition: 0.3s;
  font-size: inherit;
  text-transform: capitalize;
}

.tablinks {

  color: #000000;
  letter-spacing: 0.1rem;
  padding: 0rem 1rem; /* Adjust the initial padding as needed */
  transition: 0.8s;
    padding-right: 10px;
    text-align: left;
}

.tablinks:hover {
    text-decoration: underline;
}
.indent-px {
  margin-left: 20px; /* Add indentation */
  text-align: center;
  margin-top: 20px;
}

.indent-px a {
  text-decoration: none; 
  color: #333; 
  display: block; 
  padding: 5px 0; 
}

.indent-px a:hover {
  background-color: #f0f0f0; 
  color: red;
  text-decoration: underline;
}


header {
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgb(218, 218, 218);
  padding: 50px;
  text-align: left;
  align-items: flex-start; /* Add this line */
}
  
.project-card {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  flex: 3;
  align-items: center; /* Center content horizontally */
  margin: 30px; /* Adjust margin */
  background-color: white;
  padding: 0px; /* Adjust padding */
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-3px); /* Slight lift on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.project-card img {
  max-width: 100%; /* Ensure image doesn't overflow container */
  height: auto;
  border-bottom: 1px solid #ddd;
}

.project-card:hover img {
  filter: brightness(90%);
}

.project-card a:hover {
  text-decoration: underline;
}

.project-card:hover,
.project-card:checked {
  background-color: red;
}

.project-card:hover img,
.project-card:checked img {
  height: auto; /* Revert image height on hover */
}

  
  /* Adjustments for Welcome Text */
  .welcome-text {
   text-align: center;
  }

/* Footer Styles */
footer {
  background-color: rgb(212, 212, 212);
  padding: 30px;
  text-align: center;
  text-decoration: underline;
  text-size-adjust: 100px;
}
  